.adblock-alert {
	display: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	z-index: 1000;
	background: rgba($black, .8);

	&__inner {
		background: $white;
		padding: 2.5rem;
		border-radius: 7px;
		cursor: pointer;
	}

	&__close {
		position: relative;
		
		 i {
			position: absolute;
			transform: rotate(-180deg);
			transition: all ease .3s;

			&:hover {
				transform: rotate(0deg);
			}
		}
	}

	&.is-true {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}