.banner {

  &__hero {
    position: relative;

    > .wrap {
      position: relative;
      z-index: 10;
    }

    &:after {
      position: absolute;
      width: 0;
      height: 100%;
      background: $purple;
      bottom: 0;
      left: 0;
      content: '';
      transition: all .6s;
      transition-delay: .6s; 
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 0;
    }

    &.is-active {
      &:after {
        width: 100%;
      }
    }

    &--row {
      @include above (sm) {
        margin-left: -1rem!important;
        margin-right: -1rem!important;
      }
    }
  }

  &__text, &__share {
    @include below (sm) {
      padding-left: 0;
    }
  }

  &__title {
    color: $white;
    font-family: 'Source Sans Pro', serif;
    font-weight: 700;
  }

  &__client {
    color: $white;
    font-weight: 700;
    font-family: 'Source Sans Pro', serif;
  }

  &__share {
    @include above (sm) {
      text-align: right;
    }

    &--title {
      color: $white;
      font-family: 'Source Sans Pro', serif;
      font-weight: 700;
    }

    &--link {
      transition: all ease .3s;
      color: $white;
      background: $purple;
      margin-left: .5rem;

      i {
        text-align: center;


        &:hover::before {
          background: $white;
          color: $purple;
        }

        &:before {
          border: .1rem solid $white;
          padding: .5rem;
          border-radius: 50%;
          display: inline-block;
          width: 2.3rem;
          height: 2.3rem;
          line-height: 1.2;
          transition: all ease .3s;
        }
      }
    }
  }

  &__container {
    z-index: 0;
    position: relative;
    padding: 1rem;
    background: #ECEFF0;
    margin: 40px auto 10px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }

  &__header {
    height: 100%;
    background: #999999;
    margin-bottom: 0;
    padding: 20px 10px;
    border-top: 40px solid #808C8D;
    border-radius: 20px 20px 0px 0px;
    color: #a83b3b;
    text-transform: uppercase;
    margin-top: -1.3rem;

    span {
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      display: inline-block;
      margin-right: .2rem;
      position: relative;
      top: -3.2rem;

      &:nth-child(1) {
        background-color: #ea4335;
      }

      &:nth-child(2) {
       background-color: #fbbc05;
      }

      &:nth-child(3) {
        background-color: #34a853;
      }
    }
  }

  &__row {
    padding: .5rem;

    @include below (sm) {
      display: block;
    }
  }

  &__placeholder {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 35px;
    background-color: #C0C9CA;

    img {
      height: inherit;
    }

    &--heading {
      margin-bottom: 1.625em;
      height: 2em;
      width: 55%;

      &--smaller {
          max-height: 1em;
      }
    }

    &--sentence {
      height: 1.5em;
      margin-bottom: 0.5em;

      &--smaller {
        max-height: 1em;
      }

      &--last {
        width: 85%;
      }
    }

    &--paragraph {
      height: 8em;
      margin-top: 1.625em;
      margin-bottom: 1.625em;
      text-align: center;
    }
  }

  &__nav {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      color: $yellow;
      font-weight: 700;
      text-transform: uppercase;
    }

    &--link {
      position: relative;
      display: block;

      @include above (sm) { 
        font-size: 5vw;
      }
      

      h2 {
        margin-top: 0;
        color: $white;
        line-height: 1;


        @include above (sm) {
          font-size: 5vw;
        }
      }
    }
  }
}

.gray-dark--bg {
  background: $gray-dark;
}