.cases {

	&__container {

	}

	&__header {
		color: $purple;
	}

	&__title {
		margin-top: 0;
		padding-bottom: 1rem;

		@media (min-width: 768px) {
			padding-bottom: 1.5rem;
		}
	}

	&__track {
		display: flex;
	}

	&__controls {
		justify-content: center;

		@include above (sm) {
			flex-direction: column;
		}
	}

	&__filter {
		flex-direction: column;
		display: flex;
    	align-items: center;
		color: $white;
		transition: all ease .3s;
		position: relative;
		padding-top: .8rem;
		padding-bottom: .8rem;
		filter: drop-shadow(0.1rem 0.2rem 0.4rem rgba(0,0,0,0.8));
		background: $purple;

		@include below (sm) {
			width: 50%; 
		}

		&:before {
			background: $gradient;
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			height: 0;
			width: 0;
			transition: all ease .3s;
			z-index: 0;
			background-size: 100%;
			filter: drop-shadow(0.1rem 0.2rem 0.4rem rgba(0,0,0,0.8));
		}

		&:hover, &:focus {

			&:before {
				width: 100%;
				height: 100%;
				background-size: 115%;
				background: $gradient-tb;
			}

			svg {
				filter: drop-shadow(.1rem .2rem .4rem rgba(0, 0, 0, .8));
			}
		}

		svg {
			transition: all ease .3s;
			width: 35px;
			fill: $white;
		}

		span {
	     	font-size: 12px;
    		text-transform: uppercase;
    		font-weight: 700;
    		font-family: lato;
    		z-index: 1;
    		line-height: 1;
    		padding-top: .5rem;
		}

		@media (min-width: 768px) {
	
		}

		&:last-child {
			margin-bottom: 0;
		}


		&:hover {
			cursor: pointer;
		}
	}

	&__post {
		width: 100%;
		background: $white;
		border-radius: 7px;
		box-shadow: 0px 0px 18px rgba($purple, .19);
		overflow: hidden;
		transition: all ease .3s;
		transform-style: preserve-3d;
    	-webkit-transform: perspective(300px);
    	transform: perspective(300px);

		&:hover {
			box-shadow: 0px 0px 28px rgba($purple, .29);
		}

		@media (max-width: 768px) {
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
		
		&--home {
			@media (min-width: 768px) {
				width: calc(33.33% - 1rem);
				margin: .49rem;
			}

			header {
				margin-left: -1rem;
				margin-right: -1rem;				
			}
		}

		&--header {
			width: calc(100% + 2rem);
			left: -1rem;
			position: relative;
			min-height: 110px;
    		display: flex;
    		flex-direction: column;
    		justify-content: center;
		}

		&--thumb {
			max-height: 110px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top: 1rem;
			padding-bottom: 1rem;
			position: relative;
			border-radius: 7px;
			max-width: 100%;
  			flex-shrink: 0; 
		}

		&--title {
			margin-top: 0;
			padding-top: 1.5rem;
			color: $purple;
		}

		&--meta {
			border-top: 1px solid darken($gray, 5%);
			font-size: 14px;
			padding-bottom: .5rem;
			color: $color-font-body;
		}

		&--excerpt {
			padding: 1rem;

			@media (min-width: 768px) {
				padding: 1rem 0rem;
			}
		}
	}

	&__btn {
		margin-top: 3rem;
	}
}