.banner-cat {

	&__item {
		padding-bottom: 15px;
		margin-bottom: 3rem;

		@include above (sm) {
			width: calc(25% - 1rem);
			margin: .49rem;
		}
	}

	&__icon {
		background: $yellow;
		width: 3.5rem;
		height: 4rem;
		padding: 1.5rem;
		padding: .5rem;
		border-radius: 3px;
		position: relative;
		top: -1rem;
		display: flex;
    	flex-direction: column;

		svg {
			max-width: 100%;
			fill: #411057;
		}
	}
}