/********************FOOTER********************/

/*
 * This file should house all of the styles for
 * footer.php.
 */

.footer {
	position: relative;
	transition: all ease .3s;
	padding: 1.5rem;
	color: $purple;
	border-top: 1px solid darken($gray, 5%);

	&__title {
		font-size: 18px;

		@include above (sm) {
			font-size: 26px;
		}
	}

	&__item {
		color: $yellow;

		a {
			color: $yellow;
			transition: all ease .3s;

			&:hover {
				color: $orange;
			}
		}
	}
}
