.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
		text-align: center;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 3rem !important;
		font-weight: 400 !important;
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;

		@extend .btn--gradient, .btn;

		&:hover {

		}
	}

	// Submit wrapper
	&_footer {
		text-align: center;
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label {
		display: none !important;
	}

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		padding: .5rem;
		line-height: 1 !important;
		background: $white;
		border: none;
		-webkit-appearance: none;
		border-radius: 4px;
		transition: all 0.3s ease;
		padding: 8px 5px!important;
		text-indent: .25em;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0px 0px 18px rgba($purple, .19);

		&:hover, &:focus {
			box-shadow: 0px 0px 28px rgba($purple, .29);
		}

		&:focus, &:active, &:visited {
			color: $black;
			outline: none;
		}
	}
}

/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}

.gfield_select {

}

.gform_confirmation_message {
	text-align: center;
	float: left;
	width: 100%;
}


.gfield_html {
	img {
		width: 7rem;
		height: auto;
	}
}

input[type="checkbox"] {
	border: none;
	outline: none;
	margin-top: 0!important;
	webkit-appearance: none;
	position: relative;

	&:before {
	  content: '';
	  position: absolute;
	  display: none;
	}

	&:after {
		position: absolute;
		width: 20px;
		height: 20px;
		content: '';
		background: $white;
		left: 0;
		top: -2px;
		box-shadow: 0px 0px 18px rgba($purple, .29);
		border-radius: 2px;
		transition: all ease .3s;
	}
}


.gchoice_3_6_1 {
	overflow: visible!important;
	transition: all ease .3s;

	input[type="checkbox"]:checked {
		&:before {
			display: block;
			left: 9px;
			top: 3px;
			width: 5px;
			height: 10px;
			border: solid $purple;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			z-index: 100;
		}

		&:after {
			
		}
	}

	input[type="checkbox"]:checked + label {
		text-decoration: line-through!important;
	}

	&:hover {
		input[type="checkbox"] {
			&:after {
				box-shadow: 0px 0px 28px rgba($purple, .39);
			}
		}
	}
}

.gfield_checkbox {
	label {
		font-size: 16px!important;
		padding-left: 1rem!important;
		font-weight: 400!important;
	}
}


::-webkit-input-placeholder { /* WebKit browsers */
	color: #000 !important;
	opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #000 !important;
	opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #000 !important;
	opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #000 !important;
	opacity: 1;
}