.hero {
	position: relative;
	color: $white;

	> .wrap {
      position: relative;
      z-index: 10;
    }

	&:after {
      position: absolute;
      width: 0;
      height: 100%;
      background: $purple;
      bottom: 0;
      left: 0;
      content: '';
      transition: all .6s;
      transition-delay: .6s; 
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 0;
    }

    &.is-active {
      &:after {
        width: 100%;
      }
    }

	&__wrap {

	}

	&__row {
		@include above (sm) {
    		margin-left: -1rem!important;
    		margin-right: -1rem!important;
    	}
	}

	&__text {
		@include below (sm) {
			padding-left: 0;
			padding-right: 0;
		}

		div {
			font-size: 28px;
			line-height: 1.5;
		}
	}

	&__title {
		margin-top: 0;

		@include above (sm) {
			font-size: 36px;
		}
	}
}