/********************LAYOUTS********************/

/* Base Styles */

.hidden-sm {
  @include below (sm) {
    display: none;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;

  @include above (sm) {
    margin-right: -.5rem;
    margin-left: -.5rem;
  }
}

/* Flexible Columns */
.flexible-columns {
  [class^="row-"], [class*=" row-"] {
    // row-specific styles here

  }

  [class^="column-"], [class*=" column-"] {
    // column-specific styles here
    padding: 1rem;

    a {
      &:hover, &:focus {
        text-decoration: none;

        .circle {

          &.scratch-bg {
            background-color: transparent;
            opacity: 0.8;
          }
        }

        i {
          
        }
      }
    }
  }
}


/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] {
    // row-specific styles here

  }

  [class^="column-"], [class*=" column-"] {
    // column-specific styles here

  }
}

.padding {

  &--top {
    padding-top: 2.5rem;
  }
  
  &--bottom {
    padding-bottom: 2.5rem;
  }

  &--both {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  @media (min-width: 768px) {

    &--top {
      padding-top: 4.5rem;
    }

    &--bottom {
      padding-bottom: 4.5rem;
    }

    &--both {
      padding-top: 4.5rem;
      padding-bottom: 4.5rem;
    }
  }
}

.margin {

  &--top {
    margin-top: 2.5rem;
  }
  
  &--bottom {
    margin-bottom: 2.5rem;
  }

  &--both {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  @media (min-width: 768px) {

    &--top {
      margin-top: 4.5rem;
    }

    &--bottom {
      margin-bottom: 4.5rem;
    }

    &--both {
      margin-top: 4.5rem;
      margin-bottom: 4.5rem;
    }
  }
}