/**
 * Navigation
 **/

.nav {

	/**
	 * Mobile menu panel
	 **/


	&__item {

		&.is-active a {
			color: $yellow;
		}
	}

	
	&__link {
		transition: all ease .3s;
	}


	&--mobile {
		width: 100%;
		
		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 88px;
			right: 0;
			height: calc(100% - 88px);
			width: 100%;
			transform: translateX(100%);
			transition: all .3s ease;
			background: $purple;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0);
			}

			// Set body to fixed
			@at-root {
				body.is-fixed {
					@media (max-width: 768px) {
						overflow: hidden;
						position: fixed;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	/**
	 * Mobile menu toggle
	 **/

	&-toggle {
		
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@media (min-width: 768px) {
			display: none;
		}

		&__label {
			color: $white;
			font-weight: 600;
			font-size: 12px;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__img {
			height: 1.5rem;
			width: auto;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 1.5rem;
			height: 3px;
			background: $white;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $white;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.45rem;
			}

			&::after {
				top: -.45rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
					background: $white;
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
					background: $white;
				}
			}
		}
	}
}