/********************PAGE********************/

/*
 * This file should house all of the styles for any
 * page template, i.e. page.php or page-{rename}.php.
 */

.page {

  &__title {
    color: $purple;
  }
}
