.transition {

	&__pace {
		background: $purple;
		position: fixed;
		height: 0;
		width: 100%;
		left: 0;
		z-index: 100;
		bottom: 0;
		transition: all .6s; 
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		will-change: height;

		&.is-active {
			height: 100%;
			top: 0;
		}
	}
}