[data-aos="bg-change"] {
  transition-property: background;
  background: $gray;

  &.aos-animate {
  	background: $purple;
  }
}

[data-aos="text-animation"] {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $purple;
  text-decoration: none;
  background-size: 200% 100%;
  background-position: 100%;
  background-image: linear-gradient(
    	to right,
	    $white,
	    $white 50%,
	    $purple 50%);
   transition: all ease .6s;

  &.aos-animate {
  	background-position: 0%;
	transition: all ease 1.2s;
  }
}


