/* Color classes (modify as needed) */

$colors: "yellow" $yellow, "orange" $orange, "purple" $purple, "white" $white, "gray" $gray, "gray-dark" $gray-dark, "black" $black, "gradient" $gradient, "gradient-tb" $gradient-tb;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .#{$label}--bg {
    background-color: $value;
  }
}

.purple--bg {
	color: $white;
}

.gray--bg {
	color: $purple;
}
