//flexbox

.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}

.row {
  @extend .clearfix;
	
	@media (min-width: 768px) {
		margin-left: -15px;
		margin-right: -15px;
	}
}

//buttons

.btn {
	display: inline-block;

	&--gradient {
		background: $gradient;
		border-radius: 25px;
		color: $white;
		padding: .4rem 2rem;
		font-family: 'lato';
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 1px;
		box-shadow: 0px 16px 33px rgba($orange, .19);
		position: relative;
		overflow: hidden;
		flex: 1 1 auto;
		background-size: 112% auto;
		transition: all ease .6s;

		@media (min-width: 768px) {
			padding: .7rem 2rem;
			font-size: 14px;
		}

		&:hover {
			background-position: 100%; 
			box-shadow: 0px 16px 33px rgba($orange, .35); 			
		}
	}

	&--hollow {

		span {
			background: $purple;
			border: 2px solid transparent;						
			padding: 6px 12px;
			border-radius: 10px;
			position: relative;
			z-index: 1;

			&:hover { 

			}

			&:before {
	    		background: $gradient;
	    		content: '';
	    		position: absolute;
	    		width: calc(100% + 8px);
	    		height: calc(100% + 8px);
	    		border-radius: 12px;
	    		left: -4px;
	    		top: -4px;
	    		z-index: -1;
	    		transition: all ease 1s;
			}
		}
	}

	&--search, &--login, 
	&--compress {
		border-radius: 50%;
		color: $purple;
		font-size: 13px!important;
		transition: all ease .3s;
		position: relative;
		background-color: $white;

		&.is-active {
			background: $purple;
			color: $white;

			.fa {
				transform: rotate(360deg);
			}
		}

		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			background: $purple;
			top: 0;
			left: 0;
			border-radius: 50%;
			transition: all ease .3s;
			z-index: 0;
		}

		&:active {


		}

		i {
			transition: all ease .3s;
			z-index: 1;
			position: relative;			
		}
	}

	&--search {

		&:before {
			line-height: 2.1;
		}
	}

	&--login {
		background: $white;
		padding: 0.52rem 1.08rem;
	}

	&--compress {
		i {
			&:before {
				line-height: 2;
			}
		}
	}
}

.bx-shadow {
	border-radius: 7px;

	&--purple {
		box-shadow: 0px 0px 18px rgba($purple, .19);
	}
}

svg {
	height: 100%;
}

.clear {
	&:before, &:after {
		display: none!important;
	}
}
